# ComfyUI Version
# default: latest
#COMFYUI_TAG=v0.6.0

# Enable ComfyUI Preview Gallery HTTP Server
# default: false
ENABLED_COMFYUI_PREVIEW_GALLERY="false"

# Download Wan2.2 Models
# default: false
ENABLED_WAN2_MODELS_DOWNLOAD="false"
ENABLED_WAN2_MODELS_CHECKSUM="false"

# Download FLUX.2 Models
# default: false
ENABLED_FLUX2_MODELS_DOWNLOAD="false"
ENABLED_FLUX2_MODELS_CHECKSUM="false"

# Download Qwen-Image Models
# default: false
ENABLED_QWENIMAGE_MODELS_DOWNLOAD="false"
ENABLED_QWENIMAGE_MODELS_CHECKSUM="false"
